@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

*{
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
}

.navbar{
    width: 90%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.headings{
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.about-headings{
    width: fit-content;
    text-align: justify;
}

.container{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.grid-item{  
    border-radius: 10px;
}

.grid-item:hover{
    background: #f1f0efe7;
    
}

.card-link{
    color: #000;
    text-decoration: none;
}

.card-img > img{
    width:100%;
    height:100%;
    background-position: center;
    object-fit: cover;
}

.card-content h2{
    font-family: 'Open Sans', sans-serif;
}

.card-text{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 1.50;
    opacity: 70%;
}

.card-matlab{
    background-image: url('../image/matlab.png');
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: contain;
    opacity: 60%;
    pointer-events: none;
}

.card-matlab:hover{
    background-image: url('../image/matlab.png');
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: contain;
}

.card-python{    
    background-image: url('../image/python.png');
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: contain;
    
}

.card-python:hover{    
    background-image: url('../image/python.png');
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: contain;
}


.about-headings h2{
    font-family: 'Raleway', sans-serif;
    line-height: 2.00;
}

.about-headings span{
    letter-spacing: 0px;
    color: #345BDD;
}

.about-me-content{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.50;
}

.profile-pic{
    display: grid;
}